body {
  background-color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  margin: 1rem auto;
  text-align: center;
  background-color: #fff;
  width: 400px;
  padding: 2rem 0px;
  border-radius: 25px;
  box-shadow: 0 0 5px 1px #fff;
}

h1 {
  margin-bottom: 1rem;
  color: rgb(0, 38, 255);
}

#textBox {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-block: 0.5rem;
  box-sizing: border-box;
}

label {
  font-size: 1.5rem;
  line-height: 1.4;
  color: blue;
}

button {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  background-color: hsl(0, 100%, 50%);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 450ms;
}

button:hover {
  background-color: hsl(0, 100%, 65%);
}

p {
  font-size: 1.5rem;
  font-weight: 600;
}
